{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
     <h1>Bienvenue dans mon monde</h1>
        <div class="col-lg-8 px-0">
            <p>En visitant ce site vous pourrez en apprendre plus sur qui je suis, mes parcours et mes projets pour l'avenir.
            </p>
            <p>Qui suis-je ?</p>
              <p>Je m'appelle GEFFRAY Théo, 24 ans, Maitre-Nageur-Sauveteur à la piscine de Combs-la-Ville et entraineur au club Moissy Sport Natation.
                Cependant, j'ai décidé d'entreprendre une reconversion professionnelle dans les métiers de l'informatique. Voici le premier projet que j'entreprend, mon portfolio.

                Actuellement salarié, j'apprends donc en autodidacte ce qui est pour moi un nouvel univers, l'informatique. Les outils tels que OpenClassRoom et NetAcad me sont très utiles pour apprendre et progresser. Motivé et prêt à en découdre avec la machine, je sait me donner les moyens pour évoluer dans tous les domaines.
              </p>
            <p>Mon Parcours</p>
              <p>Dîplomé d'un Baccalauréat STI2D option Energie et Environnement en 2020, j'ai par la suite poursuivit avec un DUT Génie Industriel et Maintenance (GIM) à l'IUT de Sénart. Lors de ma deuxième année, j'ai pu participer à un échange international, ce qui m'a permis de découvrir le Quebec. Cependant, n'étant pas intéressé par le programme du DUT, j'ai décidé de le quitter à mon retour du Canada. J'ai par la suite travaillé en Interim.
               N'ayant pas prévu de faire de l'intérim toute ma vie, j'ai donc passé mon BPJEPS AAN pour devenir Maitre Nageur ainsi que le PSE2 pour le Secourisme.
                Aujourd'hui, j'ai décidé de me lancer dans un projet de reconversion professionnelle dans les métiers de l'informatique.</p>

            <hr class="col-1 my-4">
    </div>
  </div>
</div>

{% endblock %} 