<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Redkild.home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
     <header>Nom + Métier</header>

    <section id="about">À propos</section>
    <section id="skills">Compétences</section>

    <section id="projects">
        <h2>Mes Projets</h2>
        <div id="projects-container"></div> <!-- Ici les projets vont arriver -->
    </section>

    <section id="contact">Contact</section>

</head>

<body>
    <div class="container my-5">
        <h1>Bienvenue dans mon monde</h1>
        <div class="col-lg-8 px-0">
            <p>Sur ce site, vous pourrez trouver qui je suis, ce que j'ai pu faire ainsi que mes projets pro et perso
            </p>
            <p>Qui suis-je ?</p>
            <p>Je m'appelle GEFFRAY Théo, né le 06/11/2001 à Vitry-sur-Seine. Je suis acluellement Maitre Nageure
                Sauveteur mais je souhaites entreprendre une reconversion professionnelle dans les métiers de
                l'informatique</p>

            <hr class="col-1 my-4">

            <a href="https://getbootstrap.com" class="btn btn-primary">Read the Bootstrap docs</a>
            <a href="https://github.com/twbs/examples" class="btn btn-secondary">View on GitHub</a>
        </div>
    </div>

</body>

</html>