{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h1>Mes Projets</h1>
    <p>Etant actuellement maitre nageur, et passionné par ce monde qu'est l'informatique, mon premier projet à éte ce portfolio. Cependant, j'ai pour autre projet créer une application de réservation de cours de natation, qui pourrait faciliter le travail de mes collegues.</p>
    <p>Voici le lien git de mon portfolio : <a href="https://github.com/Redkild/portfolio">https://github.com/Redkild/portfolio</a></p>
    <p>Voici le lien git de mon application de réservation de cours de natation : !lien git projet resa cours part!</p>
</div>
{% endblock %}