{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Mes Compétences</h1>

    <!-- Graphique 1 -->
    <div class="mb-5">
        <h3 class="mb-3">Compétences techniques</h3>
        <div class="border rounded shadow-sm">
            <img src="{{ url_for('static', filename='Compétences-Pro.png') }}" 
                width="75%" 
                height="750px"
                style="border: none;">
            </img>
        </div>
    </div>

    <!-- Graphique 2 -->
    <div class="mb-5">
        <h3 class="mb-3">Compétences personnelles</h3>
        <div class="border rounded shadow-sm">
            <img src="{{ url_for('static', filename='Compétences-Perso.png') }}"  
                width="75%" 
                height="750px"
                style="border: none;">
            </img>
        </div>
    </div>

</div>
{% endblock %}